.home .nav-scroll {
  position: fixed;
  height: 80rpx;
  top: var(--window-top);
  z-index: 2;
  background-color: #fff;
}
.home .nav-scroll ::-webkit-scrollbar {
  display: none;
}
.home .nav-scroll ::v-deep .uni-common-mt {
  height: 100%;
}
.home .nav-scroll ::v-deep .uni-common-mt .segmented-control {
  white-space: nowrap;
  overflow-x: auto;
  display: block;
}
.home .nav-scroll ::v-deep .uni-common-mt .segmented-control .segmented-control__item {
  line-height: 70rpx;
  width: 150rpx;
  display: inline-block;
  text-align: center;
}
.home .content {
  margin-top: 80rpx;
}
.home .content .no-data {
  height: 300rpx;
  width: 50vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.home .content .no-data image {
  width: 100%;
  height: 100%;
}
.home .loading {
  text-align: center;
  color: #d8d8d8;
  line-height: 2em;
}
